*{margin:0;padding:0;}
ul{
	list-style: none;
}
input{
	background:none;  
	outline:none;  
	border:none;
}
input:focus{   
	border:none;
}

.container{
	display: flex;
	flex-direction: column;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}