@font-face {
  font-family: "iconfont"; /* Project id 3424265 */
  src: url('//at.alicdn.com/t/font_3424265_pvm4sldg3qo.woff2?t=1653536915345') format('woff2'),
       url('//at.alicdn.com/t/font_3424265_pvm4sldg3qo.woff?t=1653536915345') format('woff'),
       url('//at.alicdn.com/t/font_3424265_pvm4sldg3qo.ttf?t=1653536915345') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fangdajing:before {
  content: "\e617";
}

.icon-fanhui:before {
  content: "\e624";
}

.icon--kefu:before {
  content: "\e8ab";
}

.icon-Magnifier:before {
  content: "\e62d";
}
